name: CI Starter

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Show folders
        run: |
          echo "Repo root:"
          ls -la
          echo "Subprojects:"
          ls -la rentverse-frontend rentverse-backend rentverse-ai-service
